<div [style.box-shadow]="'0 10px 20px 0 #b3bbc673'" class="flex flex-col justify-center items-center py-8 gap-y-6 m-[30px] rounded-[15px]">
  <div class="p-1 bg-amber-300 w-[50px] rounded-full text-xs text-center font-bold font-poppins">v1</div>
    <p class="font-fredoka text-[20px]">Convert - {{amount}} {{fromValue}} to {{toValue}}</p>
    <div class="flex flex-wrap justify-center items-center gap-x-4 gap-y-4">
        <div class="flex flex-col w-[250px]">
            <p class="font-bold font-poppins">Amount</p>
            <input (keyup)="onChangeCurrency()" (change)="onChangeCurrency()" type="number" class="p-[10px] border border-gray-300 rounded-[6px] text-lg" [(ngModel)]="amount">
        </div>
        <div class="flex flex-wrap items-end gap-x-4">
            <div class="flex flex-col">
                <p class="font-bold font-poppins">From</p>
                <select (change)="onChangeCurrency()" class="rounded-[6px] bg-white border shadow-sm p-[10px] text-lg h-[50px]"
                        [(ngModel)]="fromValue">
                    <option *ngFor="let val of values">{{val}}</option>
                </select>
                <!--        <p>You have selected {{selected}}</p>-->
            </div>
            <div>
                <button (click)="onSwapCurrency()" class="p-4 rounded-full border border-gray-300 active:bg-blue-100">
                    <img width="15" height="15" src="assets/swap.png" alt="swap">
                </button>
            </div>
            <div class="flex flex-col">
                <p class="font-bold font-poppins">To</p>
                <select (change)="onChangeCurrency()" class="rounded-[6px] bg-white border shadow-sm p-[10px] text-lg h-[50px]"
                        [(ngModel)]="toValue">
                    <option *ngFor="let val of values">{{val}}</option>
                </select>
                <!--        <p>You have selected {{selected}}</p>-->
            </div>
        </div>

    </div>

    <p>{{amount}} {{fromValue}} = {{calcAmount}} {{toValue}}</p>

</div>
